body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container {
  margin: 50px;
  padding: 20px;
  border-radius: 22px;
  background: linear-gradient(315deg, #84fab0, #8fd3f4);
  box-shadow: -13px -13px 26px #84fab0, 13px 13px 26px #8fd3f4;
}
.Screens {
  height: 100%;
  margin: 50px;
}
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: white;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav > li {
  list-style: none;
}
.nav > li > a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.home {
  color: white;
  display: flex;
}
.homeimage {
  width: 500px;
  height: 350px;
}
.heading {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.service-card {
  border-radius: 48px;
  background: #ffffff;
  box-shadow: 13px 13px 46px #666666, -13px -13px 46px #ffffff;
  width: 300px;
  height: 500px;
}
.services-image {
  width: 300px;
  height: 200px;
}
.services-subheading {
  display: flex;
  justify-content: center;
}
.services-paragraph {
  padding: 20px;
  text-align: center;
}
.services-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.paragrapgh {
  color: white;
  font-size: 18px;
}
.aboutus-image {
  width: 500px;
}
.aboutus {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.teamcard {
  border-radius: 48px;
  background: #ffffff;
  box-shadow: 13px 13px 46px #666666, -13px -13px 46px #ffffff;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamimage {
  margin-top: 10px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 8px 8px 16px #666666, -8px -8px 16px #ffffff;
  width: 150px;
  overflow: hidden;
}
.teamtitle {
  border-radius: 48px;
  background: #ffffff;
  box-shadow: 13px 13px 46px #666666, -13px -13px 46px #ffffff;
  width: 200px;
}
.teamdesignation {
  border-radius: 48px;
  background: #ffffff;
  box-shadow: 13px 13px 46px #666666, -13px -13px 46px #ffffff;
  display: flex;
  width: 200px;
  margin-bottom: 100px;
}
.team {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.contactimage {
  width: 500px;
}
.input {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: inset 5px 5px 22px #ffffff, inset -5px -5px 22px #ffffff;
  border: 2px solid white;
  margin-bottom: 15px;
  width: 350px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  outline: none;
}
.inputmessage {
  border-radius: 30px;
  background: #ffffff;
  box-shadow: inset 5px 5px 22px #ffffff, inset -5px -5px 22px #ffffff;
  border: 2px solid white;
  margin-bottom: 15px;
  width: 350px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  outline: none;
  height: 200px;
}
.button {
  border-radius: 30px;
  background: #84fab0;
  border: 5px solid white;
  margin-bottom: 15px;
  width: 250px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  outline: none;
  align-self: center;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer {
  height: 2px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
}
.footertext {
  color: white;
  text-align: center;
}
.material-icons {
  font-size: 50px;
  color: white;
  display: none;
}
#toggle {
  display: none;
}
@media (max-width: 765px) {
  body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  .container {
    margin: 0px;
    padding: 20px;
    border-radius: 0px;
    background: linear-gradient(315deg, #84fab0, #8fd3f4);
    box-shadow: -13px -13px 26px #84fab0, 13px 13px 26px #8fd3f4;
    overflow: hidden;
  }
  .home {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service-card {
    margin-bottom: 30px;
  }
  .aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .teamcard {
    margin-bottom: 30px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    display: none;
  }
  .material-icons {
    display: flex;
    cursor: pointer;
    position: relative;
    left: 90%;
  }
  #toggle:checked ~ .navbar {
    display: flex;
  }
}
